body{
    width: 100%;
    background-color: #c1c1c1;
}
main{
    width: 100%;
    background-color: #c1c1c1;
}
.div-with-form{
    margin-left: 2%;
    border: #c1c1c1 solid 1px;
    border-radius: 1em;
    background-color: dimgrey;
    text-align: center;
    width: 95%;

}
.div-with-input{
    display: inline-block;
    border: grey solid 1px;
    border-radius: 1em;
    padding: 1em;
}
input{
    min-height: 45px;
    min-width: 98%;
    border-radius: 1em;
}