body{
    width: 100%;
    background-color: #c1c1c1;
}
main{
    width: 100%;
    background-color: #c1c1c1;
}
.div-with-form{
    border: #c1c1c1 solid 1px;
    border-radius: 1em;
    background-color: dimgrey;
    text-align: center;
    width: 65%;
    margin-left: 17%;
}
.div-with-input{
    border: grey solid 1px;
    border-radius: 1em;
    padding: 1em;
}
input{
    min-height: 45px;
    width: 80%;
    border-radius: 1em;
}