.ul1{
    background-color: #3ccefa7a;
    text-align: right;
}
.divicon{
    display: inline-block;
    text-align: left;
}
.li1{
    display: inline-block;
    font-style: bold;
    
    font-size: 24px;
    /* color: gold; */
    color: #000000;
    padding: 5px;
    margin: 5px;
    /*border: rgb(20, 92, 247) solid 1px;*/
    border-radius: 5px;
}
a{
    color: #000000;
    font-size: 24px;
    text-decoration: none;
}
.img-head{
    height: auto;
    width: 100%;
}