<div>
    <ul class="ul1">
        <div>
            <li class="li1">Alojamientos</li>
            <li class="li1">Vuelos</li>
            <li class="li1"><a routerLink="create-pack">Paquetes</a></li>
            <li class="li1">Ofertas</li>
            <li class="li1">Hoteles</li>
            <li class="li1">Actividades</li>
        </div>
    </ul>
</div>
<div>
    <picture>
        <img class="img-head" src="https://okdiario.com/img/2024/03/27/-que-pagina-es-mejor-para-viajes-los-mejores-trucos-y-webs-para-encontrar-ofertas1.jpg" alt="img-coliseo">
    </picture>
</div>

