<body>
    <main>
        <div class="div-with-cards">
            <div class="intermedio">
                
                <div class="div-card" id="primer">
                    <div>
                        <div class="content">
                            <div class="h2-card"><h2>Destinos</h2></div>
                            <div class="card-img"><img  src="https://tse4.mm.bing.net/th?id=OIP.Z9dtyiAnk4XBwkOD2IKwkQHaE8&pid=Api&P=0&h=180" alt="img"></div>
                            <div class="p-card"><p></p></div>
                        </div>
                    </div>
                </div>
                <div class="div-card">
                    <div class="content">
                        <div class="h2-card"><h2>Destinos</h2></div>
                        <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                        <div class="p-card"><p></p></div>
                    </div>
                </div>
                <div class="div-card">
                    <div class="content">
                        <div class="h2-card"><h2>Destinos</h2></div>
                        <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                        <div class="p-card"><p></p></div>
                    </div>
                </div>
                <div class="div-card">
                    <div class="content">
                        <div class="h2-card"><h2>Destinos</h2></div>
                        <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                        <div class="p-card"><p></p></div>
                    </div>
                </div>
                <div class="div-card">
                    <div class="content">
                        <div class="h2-card"><h2>Destinos</h2></div>
                        <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                        <div class="p-card"><p></p></div>
                    </div>
                </div>
                <div class="div-card">
                    <div class="content">
                        <div class="h2-card"><h2>Destinos</h2></div>
                        <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                        <div class="p-card"><p></p></div>
                    </div>
                </div>
                <div>
                    <a routerLink="/create-pack">
                        <div class="div-card">
                            <div class="content">
                                <div class="h2-card"><h2>Destinos</h2></div>
                                <div class="card-img"><img  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img"></div>
                                <div class="p-card"><p></p></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
