<body>
    <main>
        <div class="div-with-form">
            <form action="">
                <div>
                    <h1>Arma tu Paquete</h1>
                    <h2>Agrega los Destinos que quieras el tiempo que quieras</h2>
                </div>
                <div class="div-with-input">
                    <input type="text" placeholder="Destino">
                </div>
                <div class="div-with-input">
                    <input type="datetime" placeholder="Desde">
                </div>
                <div class="div-with-input">
                    <input type="datetime" placeholder="Hasta">
                </div>
                <div class="div-with-input">
                    <input type="text" placeholder="Personas">
                </div>
                <div class="div-with-input">
                    <input type="text" placeholder="Clase">
                </div>
                <div class="div-with-input">
                    <input type="submit">
                </div>
            </form>
        </div>
    </main>
</body>
