<div>
    <ul class="ul1">
        <div>
            <li class="li1">Alojamientos</li>
            <li class="li1">Vuelos</li>
            <li class="li1">Paquetes</li>
            <li class="li1">Ofertas</li>
            <li class="li1">Alquileres</li>
            <li class="li1">Actividades</li>
        </div>
    </ul>
</div>
<div>
    <picture>
        <img class="img-head" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/20160806-DSCF1573-BalTone.jpg" alt="img-coliseo">
    </picture>
</div>

