<body>
    <footer>
        <div>
            <nav>
                <div>
                    <ul>
                        <a class="a-footer" href="">Inicio</a>
                        <a class="a-footer" href="">Ofertas</a>
                        <a class="a-footer" href="">Vuelos</a>
                        <a class="a-footer" href="">Alojamientos</a>
                        <a class="a-footer" href="">Atracciones</a>
                        <a class="a-footer" href="">Trabajos</a>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>
</body>
