<body>
    <main>
        <div class="div-with-cards">
            <div class="intermedio">
                <br>
                <div class="div-card" id="primer">
                    <h2>Destinos</h2>
                    <img class="card-img" src="https://tse4.mm.bing.net/th?id=OIP.Z9dtyiAnk4XBwkOD2IKwkQHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>Atracciones</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>card3</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>card4</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>card5</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>card5</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
                <div class="div-card">
                    <h2>card5</h2>
                    <img class="card-img"  src="https://tse3.mm.bing.net/th?id=OIP.R4-daUqujGOAHImXqYuRNwHaE8&pid=Api&P=0&h=180" alt="img">
                    <p></p>
                </div>
            </div>
        </div>
    </main>
</body>
