<body>
    <main>
        <div class="div-with-cards">
            <div class="div-card">
                <h2>Destinos</h2>
                <img src="" alt="img">
                <p>Destinos disponibles</p>
            </div>
            <div class="div-card">
                <h2>Atracciones</h2>
                <img src="" alt="img">
                <p></p>
            </div>
            <div class="div-card">
                <h2>card3</h2>
                <img src="" alt="img">
                <p></p>
            </div>
            <div class="div-card">
                <h2>card4</h2>
                <img src="" alt="img">
                <p></p>
            </div>
            <div class="div-card">
                <h2>card5</h2>
                <img src="" alt="img">
                <p></p>
            </div>
        </div>
    </main>
</body>
